.header{
    height: 100vh;
    display:grid;
    grid-template-columns: 5fr 4fr;
    gap : 7rem;
    align-items: center;
}
.headerLeft p{
    margin: 0.8rem 0 2.5rem;
    font-size: 1.1rem;

}
.headerCta{
    display : flex;
    gap: 1.2rem;

}
.headerRight{
    display: grid;
    grid-template-columns: 1fr 1fr;
}