.servicesWrapper {
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 4rem;
}
.service{
    display:flex;
    align-items: center;
    gap :0;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    
}
.servicer{
    display:flex;
    align-items: center;
    gap :0;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    
}
.icon {
    color : var(--color-primary);
    font-size: 1.1rem;
    display: grid;
    place-items: center;
}
@media screen and (max-width: 600px){
    .servicesWrapper{
        flex-direction: column;
        gap: 1rem;
    }
    .service{
        width: 100%;
    }
}